* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( 37deg, rgba(145, 178, 255, 1) 0%, rgba(0, 128, 128, 1) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(240, 227, 227);
    font-family: sans-serif;
    height: 100vh;
}

.time_zone {
    height: 10vh;
}

.location {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature_degree {
    margin: 0;
    font-size: small;
    cursor: pointer;
}

.search {
    color: rgb(209, 149, 70);
}

#btn {
    color: grey;
    border: 0ch;
    background-color: aliceblue;
}